<div class="body">
  <!-- Navbar -->
  <div class="navbar">
    <div class="logo">
      <i class="fas fa-peace"></i>
      <span>MindHaven</span>
    </div>
    <div class="menu">
      <a href="/" class="active">Home</a>
      <a href="/therapy-centre">Therapy Centres</a>
      <a href="/about">About Us</a>
      <a href="/signup">Log in</a>
      <a href="/contact">Contact Us</a>
    </div>
  </div>

  <!-- Header -->
  <div class="header">
    <img
      src="/assets/doc1.jpg"
      alt="A medical professional holding a stethoscope"
    />
    <div class="header-content">
      <h1>Find the best hospital near you...</h1>
      <input type="text" placeholder="Enter your Location or City" />
    </div>
  </div>

  <!-- Features -->
  <div class="features">
    <div class="feature">
      <i class="fas fa-hospital"></i>
      <h2>Find Nearest Hospital</h2>
      <p>
        Search for the nearest medical centres by entering your location or city
        name.
      </p>
    </div>
    <div class="feature">
      <i class="fas fa-map-marker-alt"></i>
      <h2>Get Directions</h2>
      <p>
        On the map, click on your current location and the hospital of your
        choice to get the route.
      </p>
    </div>
    <div class="feature">
      <i class="fas fa-star"></i>
      <h2>Review Services</h2>
      <p>
        Leave a review of the services provided at your selected medical centre.
      </p>
    </div>
  </div>

  <!-- Map Section -->
  <div id="map" class="map-container"></div>

  <!-- Top Rated Hospitals Near Me -->
  <div class="container">
    <div class="header">Top Rated Hospitals Near Me</div>
    <div class="hospital-list">
      <div *ngFor="let hospital of hospitals" class="hospital-item">
        <img
          [src]="hospital.photos?.[0] || 'assets/signup.jpg'"
          [alt]="hospital.name"
        />
        <div class="hospital-info">
          <h3>{{ hospital.name }}</h3>
          <div class="rating">
            <i
              class="fas fa-star"
              *ngFor="let star of getRatingArray(hospital.rating)"
            ></i>
          </div>

          <p>{{ hospital.vicinity }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    2024 © <a href="#">MindHaven</a>. All rights reserved.
  </div>
</div>
