<div class="body">
<!-- Navbar with Hamburger -->
  <nav class="navbar">
    <div class="logo">
      <i class="fas fa-peace"></i>
      <span>MindHaven</span>
    </div>
    
    <button class="hamburger" (click)="toggleMenu()" aria-label="Menu">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
    
    <div class="menu" [class.active]="isMenuOpen">
      <a href="/">Home</a>
      <a href="/therapy-centre">Therapy Centres</a>
      <a href="/therapy">Therapy</a>
      <a href="/signup">Log in</a>
      <a href="/contact"class="active">Contact Us</a>
    </div>
  </nav>
  

  <div class="container">
    <div class="left">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        
        <h2>Contact Us</h2>
        <input
          formControlName="name"
          type="text"
          placeholder="Name*"
          required
        />
        <div
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
          "
        >
          <p>Name is required.</p>
        </div>
        <input formControlName="phone" type="text" placeholder="Phone Number" />
        <input formControlName="subject" type="text" placeholder="Subject" />
        <input
          formControlName="email"
          type="email"
          placeholder="Email*"
          required
        />
        <div
          *ngIf="
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
          "
        >
         <p>Valid email is required.</p> 
        </div>
        <textarea
          formControlName="message"
          placeholder="Message"
          rows="4"
        ></textarea>
        <button type="submit" [disabled]="contactForm.invalid">Send</button>
      </form>
    </div>

    <div class="right">
      <h3>Get in Touch</h3>
      <div class="info">
        <h2>We would love to hear from you.</h2> 
      </div>
      <div class="info"><i class="fas fa-envelope"></i> mindhaven&#64;gmail.com</div>
      <div class="info"><i class="fas fa-phone"></i> +254705171490</div>
      <div class="social-icons">
        <!-- <a href="#"><i class="fab fa-facebook-f"></i></a> -->
        <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
        <a href="#"><i class="fas fa-phone"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
</div>
