<div class="body">
    <div class="sidebar">
        <h2>MindHaven</h2>
        <a href="journal"><i class="fas fa-book"></i>Journal</a>
        <a href="mindhaven-ai"><i class="fas fa-robot"></i>MindHaven AI</a>
        <a href="quizzes"><i class="fas fa-question-circle"></i>Quizzes</a>
        <a href="community"><i class="fas fa-users"></i>Community (Talk Program)</a>
        <!-- <a href="therapy"><i class="fas fa-heart"></i>Therapy</a> -->
        <a href="articles"><i class="fas fa-newspaper"></i>Articles</a>
        <a href="/" class="logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
</div>